* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html {
  scroll-behavior: smooth;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(img/background5.jfif);
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 25px;
}
.logo {
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
}
span {
  color: #f9004d;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 10px 25px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #f9004d;
  transition: 0.2s;
}
.btn-subscribe {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.2s;
}
.btn-subscribe:hover {
  transform: scale(1.2);
  color: black;
}
.jumbotron {
  text-align: center;
}
.jumbotron img {
  margin-bottom: 20px;
}
.jumbotron h1 {
  color: white;
}
.jumbotron p {
  color: #c2c0c1;
}
section {
  padding-top: 5rem;
}
.about {
  width: 100%;

  background-color: white;
}
.about svg {
  margin-top: 50px;
}
.about img {
  height: auto;
  width: 430px;
  border: 2px solid #858585;
}
.about-text {
  width: 550px;
  margin-left: 40px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: spcace space-around;
}
.about-text h2 {
  color: balck;
  font-size: 70px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: #3c3b3b;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.about-text p {
  color: #858585;
  letter-spacing: 2px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  color: white;
  border: 2px solid transparent;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  background-color: #f9004d;
  padding: 13px 30px;
  transition: 0.4s;
}
button:hover {
  background-color: black;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.service {
  background-color: #101010;
  padding: 50px 0px;
  height: 130vh;
  width: 100%;
}
.tittle h2 {
  color: white;
  font-size: 70px;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 50px;
  width: 1130px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.card {
  height: 460px;
  width: 410px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  color: #f9004d;
  margin: 25px 0px;
  display: block;
  font-size: 50px;
  text-align: center;
}
.card h5 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.pra p {
  color: #fcfc;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 40px;
}
.card .button {
  color: white;
  font-weight: bold;
  background-color: #f9004d;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 11px 17px;
  transition: 0.4s;
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.gallery {
  width: 100%;
  height: auto;
}
.gallery .tittle h2 {
  color: black;
  text-align: center;
  font-size: 70px;
}
.contact {
  background-color: #101010;
  width: 100%;
}
.contact .tittle h2 {
  color: white;
}
.form-label {
  color: white;
}
.form-control {
  margin-bottom: 40px;
}
.btn-contact {
  color: white;
  transition: 0.2s;
}
.btn-contact:hover {
  background-color: #f9004d;
  transform: scale(1.1);
}
.footer {
  background: #d7d3d4;
  text-align: center;
  width: 100%;
  height: 350px;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 30px;
  width: 100px;
  line-height: 60px;
  font-size: 2rem;
  color: black;
  margin-bottom: 30px;
  text-decoration: none;
  transition: 0.4s;
}

.footer .share .fa-facebook-f:hover {
  transform: scale(1.2);
  color: blue;
}
.footer .share .fa-twitter:hover {
  transform: scale(1.2);
  color: rgb(24, 150, 229);
}
.footer .share .fa-instagram:hover {
  transform: scale(1.2);
  color: #f9004d;
}
.footer .share .fa-linkedin:hover {
  transform: scale(1.2);
  color: rgb(35, 107, 239);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0px;
  gap: 30px;
}

.footer .links a {
  padding: 5px 20px;
  color: white;

  background-color: black;
  text-decoration: none;
  font-size: 25px;
  transition: 0.2s;
}

.footer .links a:hover {
  background-color: #f9004d;
  color: white;
  cursor: pointer;
}

.footer .credit {
  font-size: 20px;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

.footer .credit {
  color: #858585;
}
.footer .credit span {
  color: #f9004d;
}
